<div class="example-card">This is just a {{ block.id }} rendering</div>

<style>
  .example-card {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin: 1rem;
    border: 1px solid #222;
    border-radius: 5px;
  }
</style>
