{% extends "@client_blocks/editor/layout/base.twig" %}

{% block styles %}
  {% for style in editor_styles %}
    <link rel="stylesheet" href="{{ style.href }}?ver={{ style.version }}" />
  {% endfor %}
{% endblock %}

{% block header %}
  {% include "@client_blocks/editor/layout/header.twig" %}
{% endblock %}

{% block sidebar %}
  {% include "@client_blocks/editor/layout/sidebar.twig" %}
{% endblock %}

{% block main_content %}
  {% include "@client_blocks/editor/layout/editor_pane.twig" %}
  {% include "@client_blocks/editor/layout/preview.twig" %}
  
  {# Add the preview context container here #}
  <div id="preview-context-container" class="preview-context-container"></div>
{% endblock %}

{% block scripts %}
  {% for script in editor_scripts %}
    <script src="{{ script.src }}?ver={{ script.version }}"></script>
  {% endfor %}
{% endblock %}
