.editor-sidebar {
  width: var(--tab-size);
  background: var(--bg-surface);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--border-1);
  flex: 0 0 auto;
}

.editor-tabs-divider {
  height: 1px;
  background: var(--border-1);
  margin: var(--spacing-sm) 0;
  width: 100%;
}

.editor-tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor-tabs-bottom {
  padding-bottom: var(--spacing-sm);
  border-top: 1px solid var(--border-1);
  margin-top: auto;
}

.editor-tabs-bottom .tab-button {
  margin-top: var(--spacing-sm);
}

.tab-button {
  width: var(--tab-size);
  height: var(--tab-size);
  border: none;
  background: transparent;
  color: var(--text-2);
  cursor: pointer;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--animation-fade);
}

.tab-button ion-icon {
  font-size: var(--font-size-4);
}

.tab-button:hover {
  color: var(--text-1);
  background: var(--tab-hover);
}

.tab-button.active {
  color: var(--text-1);
  background: var(--bg-surface-2);
}

.tab-button.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--tab-active);
}
