<div class="editor-preview">
  <div class="preview-container">
    <div class="preview-frame-container" data-breakpoint="xl">
      <iframe id="preview-frame" src="{{ preview_url }}"></iframe>
    </div>
  </div>
</div>
